<h1>Create New Shop</h1>
<%= link_to "Create New shop", new_shop_path, class: "btn btn-primary"%>
<h1>Create New Shelf</h1>
<%= link_to "Create New shelf", new_shelf_path, class: "btn btn-primary" %>
<h1>Remove an existing Shelf</h1>
<%= link_to "Remove a shelf", shelves_path, class: "btn btn-danger" %>
<h1>Create new Candy</h1> 
<%= link_to "Create New Candy", new_candy_path, class: "btn btn-primary" %>
<h1>Move Candy from list of unshelved candies to a shelf and vice versa</h1>
<%= link_to "Edit a candy", candies_path, class: "btn btn-warning" %> 
